<div class="list-view">
  <h3>All TV Networks</h3>

  <% @networks.each do |network| %>
    <a href="/networks/<%= network.slug %>"><%= network.name %></a><br>
  <% end %>
</div>

<div class="links-buttons">
  <a class="nav-link" href="/mywatchlist">View My Watchlist</a>
</div>
