<div class="other-pages">
  <h3>Browse by Network</h3>
  <% @networks.each do |network| %>
    <a href="/networks/<%= network.slug %>"><%= network.name %></a><br>
  <% end %>
</div>
<div class="links-buttons">
  <a class="btn btn-outline-primary btn-sm" href="/watchlist" role="button">My Watchlist</a>
  <a class="btn btn-outline-info btn-sm" href="/shows">Browse Shows</a>
</div>
