<div class="list-view">
  <h3><%= @network.name %> Shows</h3>

  <% @network.shows.each do |show| %>
    <a href="/shows/<%= show.slug %>"><%= show.name %></a><br>
  <% end %>
</div>

<div class="links-buttons">
  <a class="btn btn-outline-secondary btn-sm" href="/networks" role="button">Return to Networks</a>
  <a class="btn btn-outline-primary btn-sm" href="/watchlist" role="button">My Watchlist</a>
  <a class="btn btn-outline-info btn-sm" href="/shows" role="button">Browse Shows</a>
</div>
