body {
  background-color: #F1F1F2;
  font-family: 'Fira Sans', sans-serif;
}

.start-pages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-pages h3 {
  text-align: center;
}

.start-pages h4 a {
  display: block;
  text-align: center;
  margin: auto;
}

input[type="radio"] {
  margin: 0 8px 0 8px;
}

p.edit-page {
  color: #808080;
}
