body {
  background-color: #F1F1F2;
  font-family: 'Fira Sans', sans-serif;
}

.start-pages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-pages h3 {
  text-align: center;
}

.start-pages h4 a {
  display: block;
  text-align: center;
  margin: auto;
}

input[type="radio"] {
  margin: 0 8px 0 8px;
}

p.edit-page {
  color: #808080;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #279566;
    overflow: hidden;
    margin-bottom: 25px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.main-content {
  width: 75%;
  margin: 0 auto 30px auto;
  padding: 10px;
  border: 1px solid #A5ACAF;
}

.list-view {
  width: 75%;
  margin: 0 auto 20px auto;
  padding: 10px;
  border-bottom: 1px solid #A5ACAF;
}

.links-buttons {
  width: 75%;
  margin: 0 auto;
}

.btn-sm {
  margin: 10px 5px 10px 0;
  padding: 0 auto;
  display: inline;
}

.nav-link {
  margin: 0 auto;
  color: #279566;
  display: inline;
  padding: 0 5px;
}

h3.page-heading {
  width: 75%;
  margin: 0 auto 30px auto;
  padding: 10px;
}

table {
  width: 75%;
  border: 1px solid black;
  margin: auto auto 30px;
}

th {
  background-color: #476FBF;
  color: white;
  padding: 10px;
}

td {
  padding: 5px 10px;
}

.flash-error {
  position: absolute;
  top: 50px;
  left: auto;
  text-align: center;
  width: 100%;
}
