body {
  background-color: #F1F1F2;
  font-family: 'Fira Sans', sans-serif;
}

.start_pages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start_pages h3 {
  text-align: center;
}

.start_pages h4 a {
  display: block;
  text-align: center;
  margin: auto;
}
