<div class="start_pages">

  <h3>Log In to Your Account</h3><br>

  <form action="/login" method="POST">
    <h5>Username: <input type="text" id="username" name="username"></h5>
    <h5>Password: <input type="text" id="password" name="password"></h5><br>

    <input type="submit" value="Log In" id="login">
  </form>
</div>
