<% if flash.has?(:message) %>
  <div class="alert alert-danger">
    <%= flash[:message] %>
  </div>
<% end %>
<div class="start-pages">
  <h4>Log In to Your Account</h4><br>
  <form action="/login" method="POST">
    <p>Username: <input type="text" id="username" name="username"></p>
    <p>Password: <input type="text" id="password" name="password"></p><br>
    <input class="btn btn-primary" type="submit" value="Log In" id="login">
  </form>
</div>
