<h1>Log In to TV Watchlist</h1>

<form action="/login" method="POST">
  <h4>Username: <input type="text" id="username" name="username"></h4>
  <h4>Password: <input type="text" id="password" name="password"></h4>
  <input type="submit" value="Log In" id="login">
</form>
