<div class="start_pages">

  <h3>Create a New Account</h3><br>

  <form action="/signup" method="POST">
    <h5>Email: <input type="text" name="email" id="email"></h5>
    <h5>Username: <input type="text" name="username" id="username"></h5>
    <h5>Password: <input type="text" name="password" id="password"></h5><br>

    <input type="submit" value="Create Account">
  </form>
</div>
