<div class="other-pages">
  <h3>What's Everyone Else Watching?</h3>
    <% @users.each do |user| %>
      <% if user != current_user %>
        <h5><%= user.username %></h5>
        <% user.shows.all.order(:name).each do |show| %>
          <a href="/shows/<%= show.slug %>"><%= show.name %></a><br>
        <% end %><br>
      <% end %>
    <% end %>
</div>
<div class="links-buttons">
  <a class="btn btn-outline-secondary btn-sm" href="/watchlist" role="button">My Watchlist</a>
  <a class="btn btn-outline-secondary btn-sm" href="/shows">Browse Shows</a>
</div>
