<h3>My Watchlist</h3>

<table style="width: 50%">
  <thead>
    <tr>
      <th>Show</th>
      <th>Genre</th>
      <th>Network</th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
    <tr>
    <td><a href="/shows/<%= show.slug %>"><%= show.name %></td>
    <td><%= show.genre %></td>
    <td><%= show.network.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
