<h3 class="page-heading">My Shows</h3>

<table>
  <thead>
    <tr>
      <th>Show</th>
      <th>Genre</th>
      <th>Network</th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
    <tr>
    <td><a href="/shows/<%= show.slug %>"><%= show.name %></td>
    <td><%= show.genre %></td>
    <td><%= show.network.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="links-buttons">
  <a class="nav-link" href="/shows/new">Add New Show</a>
</div>
