<div class="main-content">

<h3>All TV Shows</h3>

<% @shows.each do |show| %>
  <a href="/shows/<%= show.slug %>"><%= show.name %> - <%= show.genre %> - <%= show.network.name %></a><br>
<% end %>

</div>

<a class="btn btn-outline-primary btn-sm" href="/users/watchlist" role="button">View My Watchlist</a>
<a class="btn btn-outline-info btn-sm" href="/shows/new" role="button">Add New Show</a>
