<% if flash.has?(:message) %>
  <div class="alert alert-danger">
    <%= flash[:message] %>
  </div>
<% end %>
<div class="invalid">
  <p>Click the back button on your browser to return to the previous page</p>
</div>
