<div class="main-content">
<h3>Add a New TV Show</h3>

<form action="/shows" method="POST">
  <p>Name: <input type="text" name="name"></p>

  <p>Genre: <input type="text" name="genre"></p>

  <p>Network (Select One):</p>
  <% Network.all.each do |network|%>
    <label <%=network.name%>><input type="radio" name="network_name" value="<%=network.name%>" id="network_name"><%=network.name%></input></label><br>
  <%end%>
  <label for="new_network"><input type="radio" name="network_name" value="" id="new_network">New Network: <input type="text" name="other_network" /></label>


  <p>Description: <input type="text" name="description"></p>

  <p>Air Date Info: <input type="text" name="air_date"></p>

  <input class="btn btn-outline-primary btn-sm" type="submit" value="Submit">

</form>
</div>
