<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TV Watchlist</title>
    <link rel="stylesheet" href="<%= url("/css/bootstrap.min.css")%>">
    <link rel="stylesheet" type="text/css" href="<%= url("/css/style.css")%>">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  </head>

  <body>

    <% if logged_in? %>
      <div class="topnav">
        <a href="#">My Shows</a>
        <a href="#">Browse All Shows</a>
        <a href="#">Networks</a>
        <a href="#">Users</a>
        <a href="#">Add New Show</a>
        <a href="/logout">Log Out</a>
      </div>
    <% end %>

    <% if flash.has?(:message) %>
      <div class="alert alert-danger">
        <%= flash[:message] %>
      </div>
    <% end %>
    <%= yield %>
  </div>

  </body>
</html>
