<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TV Watchlist</title>
    <link rel="stylesheet" href="<%= url("/css/bootstrap.min.css")%>">
    <link rel="stylesheet" type="text/css" href="<%= url("/css/style.css")%>">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  </head>

  <body>

    <% if logged_in? %>
      <div class="topnav">
        <a class="logo" href="/shows">TVW</a>
        <a href="/watchlist">My Watchlist</a>
        <a href="/shows">Shows</a>
        <a href="/networks">Networks</a>
        <a href="/users">Users</a>
        <a href="/shows/new">Add Show</a>
        <a class="logout" href="/logout">Log Out</a>
      </div>
    <% end %>

    <div class="flash-error">
    <% if flash.has?(:message) %>
      <div class="alert alert-dark">
        <%= flash[:message] %>
      </div>
    <% end %>
    </div>
    <%= yield %>
  </div>

  </body>
</html>
