<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TV Watchlist</title>
    <link rel="stylesheet" href="<%= url("/css/bootstrap.min.css")%>">
    <link rel="stylesheet" type="text/css" href="<%= url("/css/style.css")%>">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  </head>

  <body>

    <div class="topnav">
      <a href="#">My Watchlist</a>
      <a href="#">All Shows</a>
      <a href="#">Add New Show</a>
      <a href="#">Log Out</a>
    </div>


    <% if flash.has?(:message) %>
      <div class="alert alert-danger">
        <%= flash[:message] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  
  </body>
</html>
